cryptography==43.0.0
fastapi==0.110.0
pydantic==2.9.0
python-multipart==0.0.10
pydantic-settings==2.5.0
SQLAlchemy==2.0.30
asyncpg==0.29.0
uvicorn==0.30.0
gunicorn==22.0.0
celery==5.4.0
kombu==5.4.2
greenlet==3.1.1
aiohttp==3.10.0
psycopg2-binary==2.9.9